body {
    width: auto;
    background-image: url(basketball.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1, p {
    text-align: center;
    color: white;
    background-color: rgb(92, 106, 152);
    max-width: 600px;
    min-width: 300px;
    margin: 0 auto;
    padding: 10px;
}
p {
    padding-bottom: 20px;
}
form {
    background-color: #f2f2f2;
    max-width: 600px;
    min-width: 300px;
    margin: 0 auto;
    padding: 10px;
    color: rgb(22, 21, 21);
}
.form-input {
    display: block;
}
input, select, label {
    display: block;
}
input, select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="submit"] {
    width: auto;
    font-weight: bold;
}
input[type="submit"]:hover {
    color: orangered;
}
input[type="radio"] {
    display: inline;
    width: auto;
}
input[type="checkbox"] {
    display: inline;
    width: auto;
}
#age {
    width: auto;
}
.question {
    font-weight: bold;
    padding-top: 15px;
}
.bttn {
    text-align: center;
}
